/* DayPicker styles */
$primary1: rgb(25, 165, 125);
$primary2: rgb(77, 77, 77);
$onPrimary1: rgba(255, 255, 255, 0.8);
$onPrimary2: rgba(255, 255, 255, 0.6);
$onPrimarySelected: rgba(255, 255, 255, 0.3);
$onPrimaryDisabled: rgba(255, 255, 255, 0.2);

.DayPicker {
  display: inline-block;
  font-family: 'Font-Light';
  color: $onPrimary1;
  width:87.5%;
  padding: 0 0 32px 0;
  margin: 0 0 0 12.5%;
}

.DayPicker-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  user-select: none;
  flex-direction: row;
}

.DayPicker-Month {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0;
  width: 100%;
}

.DayPicker-NavBar {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0;
  top: 1rem;
}

.DayPicker-NavButton {
  position: absolute;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: contain;
  cursor: pointer;
}

.DayPicker-NavButton--prev {
  left: 16px;
  background-image: url(../../img/prev.svg);
  padding: 6px 0 0 0;
}

.DayPicker-NavButton--next {
  right: 16px;
  background-image: url(../../img/next.svg);
  padding: 6px 0 0 0;
}

.DayPicker-NavButton--interactionDisabled {
  display: none;
}

.DayPicker-Caption {
  text-align: center;
  line-height: 72px;
}

.DayPicker-Weekdays {

}

.DayPicker-WeekdaysRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 80px;
}

.DayPicker-Weekday {
  font-size: 14px;
  text-align: center;
  color: $onPrimary1;
  line-height: 80px;
  width: 100%;
  border-left: 1px solid $primary1;
}

.DayPicker-Weekday abbr[title] {
  text-decoration: none;
}

.DayPicker-Body {
  width: 100%;
}

.DayPicker-Week {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.DayPicker-Day {
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-size: 24px;
  width: 64px;
  height: 64px;
  line-height: 50px;
}

.DayPicker-WeekNumber {
  display: table-cell;
  padding: .5rem;
  text-align: right;
  vertical-align: middle;
  min-width: 1rem;
  font-size: 0.75em;
  cursor: pointer;
  color: #8b9898;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

.DayPicker-Footer {
  display: table-caption;
  caption-side: bottom;
  padding-top: .5rem;
}

.DayPicker-TodayButton {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  color: $onPrimary1;
  font-size: 0.875em;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: $onPrimary1;
  font-weight: bold;
  background-image: url(../../img/today.svg);
  background-repeat: no-repeat;
  background-size: 4px!important;
  background-position: center 90%;
}

.DayPicker-Day--disabled {
  color: $onPrimaryDisabled;
  cursor: default;
}

.DayPicker-Day--outside {
  cursor: default;
  color: #dce0e0;
  background-image: none;
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $onPrimary1;
  background-color: $onPrimarySelected;
  border-radius: 50%;
  fill: #F00;
}

/* DayPickerInput */

.DayPickerInput {
  display: inline-block;
}

.DayPickerInput-OverlayWrapper {
  position: relative;
}

.DayPickerInput-Overlay {
  left: 0;
  position: absolute;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
}
