/* DayPicker styles */
$primary1: rgb(25, 165, 125);
$primary2: rgb(77, 77, 77);
$onPrimary1: rgba(255, 255, 255, 0.8);
$onPrimary2: rgba(255, 255, 255, 0.6);
$onPrimarySelected: rgba(255, 255, 255, 0.3);
$onPrimaryDisabled: rgba(255, 255, 255, 0.2);

.DayPicker {
  display: inline-block;
  font-family: 'Font-Light';
  color: $onPrimary1;
  width:87.5%;
  padding: 0 0 32rem 0;
  margin: 16rem 0 0 12.5%;
}

.DayPicker-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  user-select: none;
  flex-direction: row;
}

.DayPicker-Month {
  display: block;
  border-collapse: collapse;
  border-spacing: 0;
  user-select: none;
  margin: 0;
  width: 100%;
}

.DayPicker-NavBar {
  //display: none;
}

.DayPicker-NavButton--interactionDisabled {
  //display: none;
}

.DayPicker-Caption {
  //display: none;
  font-size: 24px;
}

.DayPicker-WeekdaysRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 16rem;
}

.DayPicker-Weekday {
  font-size: 14rem;
  text-align: center;
  color: $onPrimary1;
  width: 100%;
  border-left: 1px solid $primary1;
}

.DayPicker-Weekday abbr[title] {
  text-decoration: none;
}

.DayPicker-Body {
  width: 100%;
}

.DayPicker-Week {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.DayPicker-Day {
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  font-size: 24rem;
  width: 64rem;
  height: 64rem;
  line-height: 64rem;
}

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default;
}

/* Default modifiers */

.DayPicker-Day--today {
  color: $onPrimary1;
  font-weight: bold;
  background-image: url(../../img/today.svg);
  background-repeat: no-repeat;
  background-size: 4rem!important;
  background-position: center 90%;
}

.DayPicker-Day--disabled {
  color: $onPrimaryDisabled;
  cursor: default;
}

.DayPicker-Day--outside {
  cursor: default;
  color: #dce0e0;
  background-image: none;
}

/* Example modifiers */

.DayPicker-Day--sunday {
  background-color: #f7f8f8;
}

.DayPicker-Day--sunday:not(.DayPicker-Day--today) {
  color: #dce0e0;
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: $onPrimary1;
  background-color: $onPrimarySelected;
  border-radius: 50%;
  fill: #F00;
}
