@keyframes Bounce {
    0%   {transform: translateY(0px);}
	60%   {transform: translateY(0px);}
	70%   {transform: translateY(2rem);}
  80%   {transform: translateY(1rem);}
  90%   {transform: translateY(2rem);}
	100%   {transform: translateY(0px);}
}

@keyframes HighlightCircleIn {
    0%   {background-size: 0%;}
    60%   {background-size: 85%;}
    90%   {background-size: 65%;}
    100%   {background-size: 75%;}
}

@keyframes HighlightCircleOut {
   0%   {background-size: 75%;}
  60%   {background-size: 75%;}
  100%   {background-size: 0%;}
}
